.cursive {
    font-family: "Cursive";
}

.spread {
    justify-content: space-evenly;
}

.nudge-left {
    padding-left: 10px;
}

.blue-cursive {
    color: rgb(19, 41, 75);
    font-family: "Cursive";
}

.bg-blue {
    background-color: rgb(19, 41, 75);
}

.nav-item {
    font-size: 2rem;
}

body {
    padding-top: 85px;
    margin-bottom: 5vh
}

.hearth {
    width: 90%;
    overflow: hidden;
}

@font-face {
    font-family: "Cursive";
    src: url(/font/Tangerine-Regular.ttf) format("truetype");
}

@media (min-width: 544px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 1.75rem;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 2.25rem;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 5.5rem;
    }

    h2 {
        font-size: 2.75rem;
    }
}